.inputComponent {
  display: flex;
  min-height: 75px;
  width: 82%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.myLabel {
  margin-left: 20px;
  font-size: 15.5px;
  width: 100%;
}
.myInput {
  width: 100%;
  height: 50px;
  color: rgb(61, 60, 60);
  border: 1px solid grey;
  border-radius: 1px;
  display: flex;
  align-items: center;
  padding-left: 2%;
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
}
.question {
  margin-bottom: 40px;
  font-size: 15.5px;
  width: 100%;
}
