.secondFooter {
  width: 100%;
  height: 55px;
  background: rgb(52, 152, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondfootertext {
  font-size: 15px;
  color: white;
}
